/* FetchButton.css */
.fetch-button {
    background-color: rgb(6, 82, 12); /* cor de fundo verde */
    color: white; /* texto branco */
    padding: 15px 25px; /* algum preenchimento */
    border: none; /* removendo a borda padrão */    
    border-radius: 4px; /* bordas levemente arredondadas */
    cursor: pointer; /* cursor de ponteiro para indicar clicabilidade */
    font-size: 16px; /* tamanho da fonte maior */
    transition: background-color 0.3s; /* transição suave de cor de fundo */
    margin-bottom: 30px;
    border: solid rgb(0, 0, 0);
  }
  
  .fetch-button:hover {
    background-color: #25a837; /* cor de fundo um pouco mais escura quando pairar */
    border: solid rgb(6, 82, 12);
  }
  
  /* Estilo adicional para quando o botão estiver desativado */
  .fetch-button:disabled {
    background-color: #2f4731; /* cor de fundo cinza */
    color: #1b8636; /* cor de texto cinza */
    
    cursor: not-allowed; /* muda o cursor para o estado não permitido */
  }
  